.btn {
  float: right;
  background-color: var(--main-color) !important;
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  border: none !important;
  position: relative;
  @media (max-width: 767px) {
    font-size: 10px;
    padding: 10px;
  }
  a{
    color: #fff !important;
  }
  i {
    font-size: 14px;
    margin-right: 5px;
    @media (max-width: 767px){
      font-size: 10px;
    }
  }
  &:hover {
    background-color: #298a5b;
  }
}
