
.btn{
  border: none !important;
}
.main-btn{
  background-color: var(--main-color) !important;
  padding: 10px 15px;
  border-radius: 25px;
  color: #fff;
  position: relative;
  @media (max-width: 767px) {
    font-size: 10px;
    padding: 10px;
  }
  span {
    margin-left: 5px;
  }
  i {
    font-size: 14px;
    @media (max-width: 767px){
      font-size: 10px;
    }
  }
  a{
    color: #fff;
  }
  &:hover {
    background-color: #298a5b;
  }
}
.footer-button {
  width: 100%;
  .fot-btn {
    width: 150px;
    font-size: 14px;
    @media (max-width: 767px){
      font-size: 10px;
    }
  }
}
.close-btn{
    background-color:#f00 !important;
}