.form-group {
  margin-bottom: 35px;
  position: relative;
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
  label {
    font-size: 15px;
    text-align: left;
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
  .form-control,
  .v-select,
  .custom-file-label {
    border-radius: 25px;
    border: 1px solid #63c25769;
    padding: 0 20px !important;
    outline: none !important;
    background-color: #34ac7217;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    @media (max-width: 767px) {
      font-size: 13px;
    }
  }
  .v-select {
    .vs__dropdown-toggle {
      border: none;
      height: 35px;
      .vs--searchable .vs__dropdown-toggle {
        height: 35px;
      }
    }
    .vs__open-indicator {
      fill: var(--main-color);
    }
    .vs__open-indicator {
      display: none;
    }
    .vs__clear {
      margin-right: 13px !important;
    }
  }
  .custom-file-input ~ .custom-file-label[data-browse]::after {
    content: 'رفع';
    right: 0;
    left: auto;
    border-radius: 25px;
    background-color: var(--main-color);
    color: #fff;
    width: 50px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding: 0;
  }
  .b-form-btn-label-control.form-control {
    height: 40px !important;
    display: flex;
    font-size: 10px !important;
    align-items: center;
    padding: 0 !important;
    .btn {
      height: 35px !important;
      svg {
        fill: var(--main-color);
      }
    }
  }
  .inputIcon {
    position: absolute;
    right: 6%;
    top: 37px;
    background-color: #edf8f2;
    svg {
      width: 17px;
      fill: var(--main-color);
    }
  }
}
.sectionForm {
  padding: 0 15px;
  width: 100%;
  .custom-control {
    padding: 10px 55px 10px 70px;
    border-radius: 25px;
    background-color: var(--back-color);
    font-weight: 700;
    @media (max-width: 767px) {
      font-size: 13px;
      padding: 5px 25px 8px 40px;
    }
    .custom-control-input:checked ~ .custom-control-label::before {
      border-color: var(--main-color);
      background-color: var(--main-color);
    }
  }
}
.dropdown-menu {
  min-width: 269px !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
.allCheck .custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--red-color);
  background-color: var(--red-color);
}
