.modal-content {
  padding: 20px;
  .modal-header {
    border-bottom: none;
    .close {
      padding: 0 !important;
      margin: 0 !important;
    }
    .modal-title {
      font-size: 18px;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  .iconModal {
    background-color: var(--main-color);
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    line-height: 100px;
    .icon {
      width: 30px;
    }
    svg {
      fill: #fff;
    }
  }
}
