.page-content {
  width: calc(100% - 310px);
  margin-left: auto;
  padding: 35px 0;
  @media (max-width: 767px) {
    margin: 0;
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 3px 36px 0 rgb(0 0 0 / 10%);
    margin-top: 30px;
    @media (max-width: 767px) {
      padding: 20px;
      min-height: 480px;
    }
    .title {
      font-size: 18px;
      font-weight: 700;
      @media (max-width: 767px) {
        font-size: 15px;
      }
    }
  }
  .subpage {
    h5 {
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    p{
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    form {
      width: 45%;
      margin: 50px auto;
      @media (max-width: 767px) {
        width: 100%;
        margin: 40px auto;
      }
    }
  }
}
