.personal-file {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  box-shadow: 0 3px 36px 0 rgb(0 0 0 / 10%);
  text-align: left;
  i {
    margin-left: 5px;
    font-size: 13px;
  }
  .right-side {
    width: 25%;
    background-color: var(--main-color);
    padding: 50px 20px;
    color: #fff;
    .image {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .info div {
      margin-bottom: 35px;
      span {
        margin-right: 25px;
      }
    }
  }
  .left-side {
    width: 75%;
    padding: 50px;
    .table-left-side {
      margin: 40px 0;
      table {
        color: var(--text-color);
        tbody {
          tr {
            font-size: 13px;
            td {
              border-top: 1px solid #eee;
            }
          }
        }
        .hidden_header {
          display: none;
        }
      }
    }
    .tab_section {
      h6 {
        color: var(--main-color);
        margin-bottom: 30px;
      }
      .nav-tabs {
        display: flex;
        justify-content: start;
        .nav-item {
          .nav-link {
            color: var(--text-color);
            border-radius: 0;
            padding: 0;
            margin: 0 0 0 50px;
            text-align: right;
            background-color: transparent;
            font-weight: 700;
            width: auto;
            &.active {
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    .right-side {
      padding: 50px 10px;
      width: 27%;
      .image {
        margin-bottom: 20px;
        img {
          height: 60px;
          width: 60px;
        }
      }
      .info div {
        margin-bottom: 20px;
        h6 {
          font-size: 8px;
          margin-bottom: 5px;
          i {
            font-size: 10px;
          }
        }
        span {
          font-size: 8px;
          margin-right: 10px;
        }
      }
    }
    .left-side {
      padding: 50px 20px;
      width: 73%;
      .left-header {
        h5 {
          font-size: 13px;
        }
        p {
          font-size: 10px;
        }
      }
      .table-left-side {
        margin: 20px 0;
        table {
          tbody {
            tr {
              font-size: 10px;
            }
          }
        }
      }
      .tab_section {
        h6 {
          font-size: 12px;
          margin-bottom: 10px;
        }
        .nav-tabs {
          .nav-item {
            .nav-link {
              font-size: 9px;
              margin: 0 0 0 5px;
            }
          }
        }
        .tab-content {
          .tab-pane {
            .table-list {
              margin-top: 0;
              thead tr th {
                font-size: 10px;
                padding: 10px 0;
              }
              tbody tr td {
                font-size: 10px;
                padding: 10px 0;
              }
              .pagin {
                margin-top: 20px;
                .page-link {
                  font-size: 10px;
                  width: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
