.table-list {
  margin-top: 30px;
  table {
    text-align: left;
    font-size: 14px;
    thead {
      tr {
        border-radius: 25px;
        th {
          border: none;
          background: rgba(52, 172, 114, 0.15);
          padding: 20px 0;
          text-align: center;
          font-size: 13px;
          min-width: 87px;
          color: var(--text-color);
          font-weight: bold;
          &:nth-child(1) {
            border-radius: 50px 0 0 50px;
          }
          &:nth-last-child(1) {
            border-radius: 0 50px 50px 0;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          border-top: none;
          border-bottom: 1px solid #eee;
          padding: 20px 0;
          vertical-align: middle;
          color: var(--muted-color);
          text-align: center;
          font-size: 13px;
          .user-main-image {
            text-align: center;
            img {
              min-width: 50px;
              height: 50px;
            }
          }
          .action {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .spanId {
      display: none;
    }
    .btn {
      font-size: 12px;
      width: 64px;
      padding: 10px 0;
      margin: 0 5px;
    }
    .specialbtn {
      background-color: transparent !important;
      width: auto;
    }
  }
  .pagin {
    margin-top: 50px;
    .pagination {
      padding-right: 0;
    }
    .page-link {
      color: var(--main-color);
      border: none;
      font-size: 17px;
      margin: 0 4px;
      padding: 8px 0;
      width: 40px;
      border-radius: 5px;
      text-align: center;
    }
    .page-item.active .page-link {
      background-color: var(--main-color);
      color: #fff;
    }
  }
}
