.page-content {
  width: calc(100% - 310px);
  margin-right: auto;
  padding: 35px 0;
  z-index: 1;
  @media (max-width: 767px) {
    margin: 0;
  }
}
.subpage form {
  width: 45%;
  margin: 50px auto;
}
@media (max-width: 767px) {
  .subpage form {
    width: 100%;
  }
}
:root {
  --main-color: #34ac72;
  --text-color: #393d48;
  --muted-color: #707070;
}
@media (max-width: 767px) {
  .page-content {
    width: 100%;
    margin: 0;
  }
}
@import 'header';
@import 'pageContent';
@import 'btnHeader';
@import 'tableList';
@import 'modal';
@import 'tabs';
@import 'profile';
@import 'nuxtLink';
@import 'form';
